{{ asset_add('styles.css', 'pixney.extension.swiper_block::scss/pixney.scss') }}
<div class="card" id="two_columns_block-extension">
    <div class="card-block">
        <div class="row">
            <div class="col-sm-24 form-group">
                {{ form.fields.images | raw }}
            </div>
        </div>
    </div>
</div>